
#menuButton:pressed {
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.40), 8, 0.0, 0, 3);
}

#menuButton:focused {
    -fx-background-color:
    rgba(245, 245, 245, 1),
    rgba(230, 230, 230, 1);
    -fx-background-insets: 0, 1;
}

.buttonWithoutHover:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 30, 0, 0, 0);
}
.pane:hover {
     -fx-background-color: rgba(0,0,0,0.2);
    -fx-cursor: hand;
}

.table-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
   -fx-font: 20px Roboto;
}

.column-header .label{
    -fx-text-fill: #999999;;
}
.column-header-background {
    -fx-background-color: transparent;
}
