@font-face {
    font-family: 'Roboto';
}

.root{
    -fx-background-image: url("../images/WineBackground.jpg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

#actionBar {
    -fx-background-image: url("../images/ActionBar.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-alignment: center;
}

#logoButton {

}

#menuButton:pressed {
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.40), 8, 0.0, 0, 3);

}

#menuButton:focused {
    -fx-background-color:
    rgba(245, 245, 245, 1),
    rgba(230, 230, 230, 1);
    -fx-background-insets: 0, 1;
}

.buttonWithoutHover:hover  {
    -fx-cursor: hand;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.40), 8, 0.0, 0, 3);
}
.pane:hover, .list-cell:hover {
     -fx-background-color: rgba(0,0,0,0.2);
    -fx-cursor: hand;
}

.table-view, .list-view{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-box-border: transparent;
   -fx-font: 20px Roboto;
    -fx-text-alignment: center;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header{
    -fx-background-color: transparent;

}
.column-header .label {
    -fx-font: 20px Roboto;
    -fx-text-fill: #999999;
    -fx-alignment: center-left;
}
.column-header-background {
    -fx-background-color: white;
}
.table-row-cell {
    -fx-cell-size: 40px;
    -fx-background-color: transparent;
    -fx-border-color:
    transparent
    transparent
    derive(-fx-base, 5%)
    transparent;

    -fx-margin-top: 10px;

}

.table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: transparent;
}

.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow,
.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.check-box *.box {
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;

}

.check-box {
    -fx-alignment: center-left;
}

.check-box:hover {
    -fx-cursor: hand;
}

.checkBoxColumn{
    -fx-alignment: center;
}

.table-view .column-header .checkBoxColumn .check-box {
    -fx-alignment: center;
}

.deleteButton {
    -fx-cursor: hand;

    -fx-background-color: transparent;
    /*-fx-background-image: url("../images/WineBackground.jpg");*/
}

.eventToolTip {
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-background-radius: 10;
}





